$font-family: "Poppins", sans-serif;
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;
$primary-color: #000814;
$secondary-color: #0466c8;
$color-white: #ffffff;
@mixin display-flex($justify: start, $align: start) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin hover($color) {
  background-color: $color;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
@mixin grid-position($grid-row, $grid-col) {
  grid-row: $grid-row;
  grid-column: $grid-col;
}
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-family;
}
nav {
  width: 100%;
  height: 6rem;
  @include display-flex($justify: space-between, $align: center);
  padding: 0 14rem;
  position: fixed;
  .nav-brand {
    font-size: 2rem;
    font-weight: $fw-extra-bold;
    text-decoration: none;
    color: $color-white;
    width: 3rem;
    height: 3rem;
    border-radius: 6px;
    text-align: center;
    line-height: 3rem;
    background-color: $secondary-color;
  }
  .nav-item {
    display: flex;
    text-transform: uppercase;
    .nav-link {
      font-weight: $fw-medium;
      text-decoration: none;
      color: $color-white;
      margin: 0 1.2rem;
    }
    .nav-link:hover {
      text-decoration: underline;
      color: $secondary-color;
    }
  }
}
#hero {
  width: 100%;
  height: 100vh;
  padding: 0 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  .row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr, 1fr;
    gap: 40px;
    .content {
      width: 28rem;
      height: 28rem;
    }
    .content:first-child {
      @include grid-position(1, 1);
      color: #ffffff;
      display: flex;
      justify-content: center;
      flex-direction: column;
      h1 {
        width: 440px;
        font-size: 32px;
        margin-bottom: 24px;
        font-weight: $fw-regular;
        span {
          text-transform: capitalize;
          font-size: 48px;
          letter-spacing: 4px;
          line-height: 45px;
          color: $secondary-color;
          font-weight: $fw-bold;
        }
      }
      p {
        font-size: 16px;
        color: rgba($color: #ffffff, $alpha: 0.6);
        margin-bottom: 30px;
        font-weight: $fw-medium;
      }
      .btn-group {
        display: flex;
        gap: 20px;
        a {
          padding: 13px;
          border-radius: 10px;
          color: #ffffff;
          font-size: 1.2rem;
          font-weight: $fw-medium;
          background-color: #0466c8;
          text-decoration: none;
          border: none;
        }
        a:last-child {
          background-color: transparent;
          border: 3px solid $secondary-color;
          color: $secondary-color;
        }
        a:hover:first-child {
          @include hover(#0d82f8);
        }
        a:hover:last-child {
          @include hover($secondary-color);
        }
      }
    }
    .content:last-child {
      margin-top: 37px;
      @include grid-position(1, 2);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24rem;
      height: 24rem;
      border-radius: 50% 0 50% 50%;
      background-image: linear-gradient(
          to bottom,
          rgba(0, 8, 20, 0.2),
          rgba(0, 8, 20, 0.6)
        ),
        url("../../img/profile.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  .row {
    padding: 5rem 8rem 10rem;
    background-color: $primary-color;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr, 1fr;
    gap: 2rem;
    .content {
      width: 27rem;
      color: #ffffff;
      .title {
        color: rgba($color: #ffffff, $alpha: 0.8);
        font-size: 42px;
        margin-bottom: 16px;
        letter-spacing: 3px;
        font-weight: $fw-bold;
      }
      .text-content {
        width: 30rem;
        margin-bottom: 10px;
        color: rgba($color: #ffffff, $alpha: 0.4);
      }
      a {
        display: inline-block;
        padding: 13px;
        margin-top: 20px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: $fw-regular;
        color: #ffffff;
        background-color: $secondary-color;
      }

      img {
        width: 27rem;
        margin-top: 10px;
      }
    }
    .content:first-child {
      @include grid-position(1, 2);
    }
    .content:last-child {
      @include grid-position(1, 1);
    }
  }
}
#skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 14rem;
  background-color: $primary-color;
  color: #ffffff;
  .title {
    color: rgba($color: #ffffff, $alpha: 0.8);
    font-size: 42px;
    margin-bottom: 16px;
    letter-spacing: 3px;
    font-weight: $fw-bold;
  }
  .text-content {
    width: 30rem;
    margin-bottom: 40px;
    color: rgba($color: #ffffff, $alpha: 0.4);
  }
  .row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    gap: 20px 20px;
    .col {
      width: 14rem;
      height: 20rem;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      text-align: center;
      img {
        width: 14rem;
        height: 14rem;
        padding: 15px;
      }
      h1 {
        margin-bottom: 10px;
        font-size: 20px;
        color: rgba($color: #ffffff, $alpha: 0.8);
      }
      p {
        font-size: 14px;
        color: rgba($color: #ffffff, $alpha: 0.4);
      }
    }
    .col:nth-child(1) {
      @include grid-position(1, 1);
    }
    .col:nth-child(2) {
      @include grid-position(1, 2);
    }
    .col:nth-child(3) {
      @include grid-position(1, 3);
    }
    .col:nth-child(4) {
      @include grid-position(1, 4);
    }
  }
}
@media screen and (min-width: 590px) and (max-width: 896px) {
  nav {
    width: 3rem;
    height: 100vh;
    padding: 3rem 3rem;
    @include display-flex();
    flex-direction: column;
    top: 0;
    left: 0;
    .nav-brand {
      margin-bottom: 2rem;
    }
    .nav-item {
      height: 20%;
      flex-direction: column;
      .nav-link {
        margin: 0 0 1rem;
        i {
          width: 3rem;
          height: 3rem;
          border-radius: 6px;
          background-color: #ffffff;
          color: $primary-color;
          text-align: center;
          line-height: 3rem;
        }
      }
      .nav-link:hover {
        i {
          background-color: $secondary-color;
          color: #ffffff;
        }
      }
    }
  }
  #hero {
    .row {
      gap: 10px;
      .content:first-child {
        @include grid-position(2, 1);
      }
      .content:last-child {
        @include grid-position(1, 1);
        width: 27rem;
        height: 27rem;
        border-radius: 0;
      }
    }
  }
  #about {
    .row {
      gap: 80px;
      .content {
        padding: 0 1rem;
      }
      .content:first-child {
        @include grid-position(1, 1);
      }
      .content:last-child {
        @include grid-position(2, 1);
      }
    }
  }
  #skill {
    .row {
      grid-template-columns: 1fr, 1fr;
      grid-template-rows: auto;
      .col:nth-child(1) {
        @include grid-position(1, 1);
      }
      .col:nth-child(2) {
        @include grid-position(1, 2);
      }
      .col:nth-child(3) {
        @include grid-position(2, 1);
      }
      .col:nth-child(4) {
        @include grid-position(2, 2);
      }
    }
  }
}
@media screen and (max-width: 589px) {
  nav {
    width: 100%;
    height: 100vh;
    .nav-brand {
      position: absolute;
      top: 2rem;
      left: 2rem;
    }
    .nav-item {
      width: 100%;
      height: 3rem;
      position: absolute;
      bottom: 0;
      left: -18px;
      background-color: $primary-color;
      .nav-link {
        width: 3rem;
        height: 3rem;
        margin: 0 auto;
        i {
          width: 3rem;
          height: 3rem;
          text-align: center;
          line-height: 3rem;
          font-size: 1.5rem;
          border-radius: 8px;
          color: #ffffff;
        }
        i.active {
          color: $secondary-color;
        }
      }
    }
  }
  #hero {
    .row {
      gap: 0;
      .content {
        width: 22rem;
        height: 22rem;
        margin-left: 30px;
      }
      .content:first-child {
        @include grid-position(1, 1);
        h1 {
          width: 240px;
          font-size: 20px;
          margin-bottom: 15px;
          span {
            font-size: 33px;
            line-height: 43px;
            letter-spacing: 2px;
          }
        }
        p {
          margin-bottom: 20px;
        }
        .btn-group {
          gap: 20px;
          a {
            padding: 8px;
            font-size: 1rem;
          }
        }
      }
      .content:last-child {
        @include grid-position(2, 1);
        width: 20rem;
        height: 20rem;
        border-radius: 0;
      }
    }
  }
  #about {
    .row {
      padding: 0;
      margin-left: 30px;
      .content {
        width: 22rem;
        color: #ffffff;
        .title {
          font-size: 20px;
          margin-bottom: 15px;
          letter-spacing: 2px;
        }
        .text-content {
          width: 335px;
          margin-bottom: 10px;
        }
        a {
          padding: 8px;
          margin-top: 20px;
          font-size: 1.2rem;
          font-weight: $fw-regular;
        }

        img {
          width: 20rem;
          margin-top: 10px;
        }
      }
      .content:first-child {
        @include grid-position(1, 1);
      }
      .content:last-child {
        @include grid-position(2, 1);
      }
    }
  }
  #skill {
    align-items: center;
    padding:10rem 0;
    .text-content{
      width: 15rem;
    }
    .row {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      .col{
        width: 21rem;
        height: 27rem;
        img{
          width: 21rem;
          height: 21rem;
        }
      }
      .col:nth-child(1) {
        @include grid-position(1, 1);
      }
      .col:nth-child(2) {
        @include grid-position(2, 1);
      }
      .col:nth-child(3) {
        @include grid-position(3, 1);
      }
      .col:nth-child(4) {
        @include grid-position(4, 1);
      }
    }
  }
}
